$max-width: 1500px;
$black: #1a1a1a;
$gray: #767676;
$white: #ffffff;
$red: #b50938;

$mq-medium: 1000px;
$mq-small: 860px;
$mq-mobile: 600px;

:root{
    --gv: 30px;
    --gh: 20px;
    --gap: 20px;
}


